:root {
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-overlay-color: #2E2F4266;
    --hero-background-color: #2E2F42B2;
    --white-background-color: #FFFFFF;
    --modal-background-color: #FCFCFC;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--white-background-color);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    border-bottom: 1px solid var(--accent-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    align-items: center;
}

.address-links .link:hover,
.address-links .link:focus,
.address-links .link:active,
.nav-links .link:hover,
.nav-links .link:focus,
.nav-links .link:active {
    color: var(--pressed-state-color)
}

.main-button {
    background-color: var(--primary-brand-color);
    color: var(--white-background-color);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus,
.main-button:hover,
.main-button:focus {
    background-color: var(--pressed-state-color);
    color: var(--white-background-color);
    border: 1px solid transparent;
}

.headertwo {
    color: var(--dark-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px
}

.headertwo-desktop {
    margin-bottom: 8px;
}

.headerthree {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}

.description {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.sectiontwo,
.sectionfour,
.sectionfive {
    padding: 96px 0;
}

.team-background {
    background-color: var(--light-color);
}

.card-background {
    background-color: var(--white-background-color);
    border-radius: 0px 0px 4px 4px;
    max-width: 264px;
    box-shadow:
        0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.worker {
    padding: 32px 0;
}

.worker-headerthree {
    text-align: center;
    margin-bottom: 8px;
}

.worker-description {
    text-align: center;
}

.socials-links {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.li-socials {
    width: calc((100% - 3 * 24) / 4);
}

.socials-icon {
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon:hover,
.socials-icon:focus {
    background-color: var(--pressed-state-color);
}

.svg-sm {
    fill: var(--light-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    display: flex;
    width: 190px;
    height: 88px;
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: var(--subtle-text-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon:hover,
.customers-icon:focus {
    border: 1px solid var(--pressed-state-color);
    color: var(--pressed-state-color)
}
    
.svg-customers {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-background {
    background-color: var(--dark-color);
    padding: 96px 0;
}

.footer-description {
    color: var(--light-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}

.footer-sm {
    color: var(--white-background-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.socials-links-footer {
    display: flex;
    gap: 16px;
}

.s-i-footer:hover,
.s-i-footer:focus {
    background-color: var(--success-color);
}

.logo {
    color: var(--primary-brand-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-span {
    color: var(--dark-color);
}

.logo-spantwo {
    color: var(--light-color)
}

.input-footer {
    background-color: transparent;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white-background-color);
    padding-left: 16px;
    color: var(--white-background-color);
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.48px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.input-footer::placeholder {
    color: var(--white-background-color);
}

.input-footer:focus {
    outline: none;
    color: var(--white-background-color);
}

.subscribe-button {
    display: flex;
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    background-color: var(--primary-brand-color);
    color: var(--white-background-color);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: var(--pressed-state-color);
}

.svg-subscribe {
    margin-left: 16px;
}

/* -------------modal------------- */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 392px;
    min-height: 584px;
    padding: 72px 16px 24px 16px;
    background: var(--modal-background-color);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.10);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--pressed-state-color);
    border: none;
    fill: var(--white-background-color);
}

.svg-button {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-header {
    text-align: center;
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.form-modal {
    display: flex;
    flex-direction: column;
}

.form-modal-details {
    margin-bottom: 8px;
}

.label-modal {
    display: block;
    margin-bottom: 4px;
    color: var(--subtle-text-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
}

.form-field {
    position: relative;
    display: flex;
    align-items: center;
}

.input-modal {
    width: 100%;
    height: 40px;
    border: 1px solid var(--modal-overlay-color);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
    border-color: var(--primary-brand-color);
}

.svg-modal {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--dark-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus+.svg-modal {
    fill: var(--primary-brand-color);
}

.form-modal-textarea {
    margin-bottom: 16px;
}

.textarea {
    resize: none;
    height: 120px;
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: var(--modal-overlay-color);
    border-radius: 4px;
    border: 1px solid var(--modal-overlay-color);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: var(--primary-brand-color);
}

.policy {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: var(--subtle-text-color);
    margin-bottom: 24px;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid var(--modal-overlay-color);
    border-radius: 2px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-input:checked+.policy-label span {
    fill: var(--light-color);
    background-color: var(--pressed-state-color);
    border: none;
}

.policy-link {
    color: var(--primary-brand-color);
}

.send-button {
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    background-color: var(--primary-brand-color);
    color: var(--white-background-color);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
    background-color: var(--pressed-state-color);
}

/* -------------portfolio------------- */

.portfolio-button {
    background-color: var(--light-color);
    color: var(--primary-brand-color);
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    padding: 8px 16px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-description {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}

.portfolio-box {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:hover,
.portfolio-box:focus {
    box-shadow:
        0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-button:hover,
.portfolio-button:focus {
    box-shadow:
        0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.overlay {
    position: relative;
    overflow: hidden;
}

.wrap {
    background-color: var(--primary-brand-color);
    color: var(--light-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box:hover .wrap,
.portfolio-box:focus .wrap {
    transform: translateY(0%);
}

/* ------------------------------------------------------ */

@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }
}

/* ========== MOBILE ========== */
@media screen and (max-width: 767px) {

        .js-open-menu {
            border: none;
            background-color: transparent;
            display: flex;
            padding: 24px 0;
        }

        .js-menu-container {
            background-color: var(--white-background-color);
            z-index: 999;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            transform: translateX(100%);
            transition: transform 250ms ease-in-out;
        }
    
        .js-menu-container.is-open {
            transform: translateX(0);
        }
    
        .nav-links-mobile {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin: 80px 40px;
        }
    
        .nav-links-mobile .link {
            color: var(--dark-color);
            font-size: 36px;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.72px;
            text-transform: capitalize;
        }

        .nav-links-mobile .underline {
            color: var(--pressed-state-color);
        }
    
        .address-mobile {
            margin-left: 40px;
            padding-bottom: 48px;
        }
    
        .address-links-mobile {
            display: flex;
            flex-direction: column;
            gap: 40px;
            list-style: none;
        }
    
        .tel-mobile {
            color: var(--primary-brand-color);
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.11;
            letter-spacing: 0.72px;
        }
    
        .mail-mobile {
            color: var(--text-color);
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.4px;
        }
    
        .container-social-media-mobile {
            margin-left: 40px;
            margin-bottom: 40px;
        }
    
        .socials-links-mobile {
            display: flex;
            gap: 24px;
            list-style: none;
        }

    .nav-links {
        display: none;
    }
    
    .address {
        display: none;
    }

    .title {
        color: var(--white-background-color);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        display: block;
        margin: 0 auto;
        max-width: 320px;
        padding-bottom: 72px;
    }

    .title-background {
        background-color: var(--dark-color);
        padding: 112px 0;
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobilex1.jpg);
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .title-background {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobilex2.jpg);
            }
        }

    .list-sectiontwo,
    .list-sectionfour {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }

    .list-sectionfive {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 72px;
        column-gap: 16px;
    }

    .li-customers {
        flex-basis: calc(100% - 16px) / 2;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;
    }

    .footer-sm {
        text-align: center;
    }
                                                                
    .footer-style {
        display: block;
        margin: 0;
        margin-bottom: 16px;
        text-align: center;
    }

    .form-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .portfolio {
        padding: 48px 0;
    }

    .portfolio-buttons {
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 24px;
        margin-bottom: 48px;
    }

    .portfolio-list {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
}

/* ========== TABLET ========== */
@media screen and (min-width: 768px) and (max-width: 1157px) {

    .js-open-menu {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .nav-links .link {
        color: var(--dark-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-block;
    }

    .address-links .link {
        font-style: normal;
        color: var(--text-color);
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.48px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .address-links {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .nav-links {
        display: flex;
        gap: 40px;
    }

    .nav-links .underline {
        position: relative;
        color: var(--pressed-state-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .underline::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--pressed-state-color);
        left: 0;
        bottom: -1px;
    }

    .title {
        color: var(--white-background-color);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        display: block;
        margin: 0 auto;
        max-width: 496px;
        padding-bottom: 36px;
    }

    .title-background {
        background-color: var(--dark-color);
        padding: 112px 0;
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tabletx1.jpg);
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .title-background {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tabletx2.jpg);
            }
        }

    .headertwo-desktop {
        text-align: left;
    }

    .list-sectiontwo {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .li-sectiontwo,
    .card-background {
        flex-basis: calc((100% - 24px) / 2);
    }
        
    .list-sectionfour {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 64px;
        column-gap: 24px;
    }
    
    .list-sectionfive {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 72px;
        column-gap: 24px;
    }

    .li-customers {
        flex-basis: calc(100% - 48px) / 3;
    }

    .customers-icon {
        width: 168px;
    }

    .svg-customers {
        width: 104px;
    }

    .logo {
        margin-right: 120px;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        row-gap: 72px;
        column-gap: 24px;
        align-items: baseline;
        padding-left: 108px;
    }
        
    .footer-style {
        display: block;
        margin-bottom: 16px;
    }

    .input-footer {
        width: 264px;
    }

    .footerfour {
        display: block;
    }

    .form-footer {
        display: flex;
        gap: 24px;
    }

    .modal-box {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }

    .portfolio {
        padding: 64px 0 96px;
    }
        
    .portfolio-buttons {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 64px;
    }

    .portfolio-button {
        padding: 12px 24px;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
        
    .li-portfolio {
        width: calc((100% - 24px) / 2);
    }

    .portfolio-pics {
        width: 356;
        height: 300;
    }
}

/* ========== NON DESKTOP ========== */
@media screen and (max-width: 1157px) {
    .sectionthree {
        display: none;
    }
    
    .icon-box {
        display: none;
    }
}

/* ========== DESKTOP ========== */
@media screen and (min-width: 1158px) {

    .js-open-menu {
        display: none;
    }
        
    .mobile-menu {
        display: none;
    }

    .nav-links .link {
        color: var(--dark-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-block;
    }

    .address-links .link {
        font-style: normal;
        color: var(--text-color);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address {
        padding: 24px 0;
    }
    
    .nav-links,
    .address-links {
        display: flex;
        gap: 40px;
    }

    .nav-links .underline {
        position: relative;
        color: var(--pressed-state-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .underline::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--pressed-state-color);
        left: 0;
        bottom: -1px;
    }

    .cursor {
        cursor: pointer;
    }

    .title {
        color: var(--white-background-color);
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        display: block;
        margin: 0 auto;
        max-width: 496px;
        padding-bottom: 48px;
    }

    .title-background {
        background-color: var(--dark-color);
        padding: 188px 0;
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .title-background {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-officex2.jpg);
            }
        }

    .icon-box {
        background-color: var(--light-color);
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
    }

    .headertwo-desktop {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        text-align: left;
    }

    .footer-background {
        padding: 100px 0;
    }

    .sectionthree {
        padding: 0 0 120px 0;
    }

    .sectiontwo,
    .sectionfour,
    .sectionfive {
        padding: 120px 0;
    }

    .list-sectiontwo,
    .list-sectionthree,
    .list-sectionfour,
    .list-sectionfive {
        display: flex;
        gap: 24px;
    }

    .li-sectiontwo {
        flex-basis: calc((100% - 72px) / 4);
    }
    
    .li-sectrionthree {
        flex-basis: calc((100% - 2 * 24px) / 3);
    }

    .card-background {
        flex-basis: calc((100% - 72px) / 4);
    }

    .li-customers {
        flex-basis: calc((100% - 5 * 24px) / 6);
    }

    .customers-icon {
        width: 168px;
    }

    .svg-customers {
        width: 104px;
    }

    .footer {
        display: flex;
        align-items: baseline;
    }

    .footertwo {
        margin-right: 120px;
    }

    .footerthree {
        margin-right: 80px;
    }

    .footer-style {
        display: block;
        margin-bottom: 16px;
    }

    .logo {
        margin-right: 76px;
    }

    .footerfour {
        display: block;
    }
    
    .form-footer {
        display: flex;
        gap: 24px;
    }
    
    .input-footer {
            width: 264px;
        }

    .modal-box {
        width: 408px;
        padding: 72px 24px 24px 24px;
    }

    .portfolio {
        padding: 96px 0 120px;
    }

    .portfolio-buttons {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 72px;
    }

    .portfolio-button {
        padding: 12px 24px;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
    }

    .li-portfolio {
        width: calc((100% - 48px) / 3);
    }

    .portfolio-pics {
        width: 360;
        height: 300;
    }
}